body {
    margin: 0;
    padding: 0;
    background: url(2.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.pricing-table {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.col {
    flex: 25%;
    padding: 10px;
    max-width: 320px;
    box-sizing: border-box;
}

.table {
    background: #ffffff;
    padding: 40px 20px;
    font-family: 'montserrat', sans-serif;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px #000070;
}

.table h2 {
    text-transform: uppercase;
}

.table ul {
    margin: 0;
    padding: 0;
}

.table ul li {
    padding: 10px 0;
    list-style: none;
}

.price {
    font-size: 40px;
    margin-bottom: 20px;
}

.price span {
    display: block;
    font-size: 14px;
}

.table a {
    text-decoration: none;
    color: #2c3e50;
    border: 2px solid #2c3e50;
    display: block;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 40px;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.5s;
}

.table a:hover {
    background: #2c3e50;
    color: white;
}

.discount {
    background: #2c3e50;
    color: white;
    transform: rotate(45deg);
    padding: 10px 30px;
    position: absolute;
    top: 10px;
    right: -35px;
}

@media only screen and (max-width: 980px) {
    .col {
        flex: 50%;
    }
}

@media only screen and (max-width: 700px) {
    .col {
        width: 100%;
        flex: 100%;
    }
}
